@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9383 0.0042 236.4993);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.6744 0.1785 42.7042);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9670 0.0029 264.5419);
  --secondary-foreground: oklch(0.4382 0.0335 265.1115);
  --muted: oklch(0.9846 0.0017 247.8389);
  --muted-foreground: oklch(0.5434 0.0305 271.5210);
  --accent: oklch(0.9051 0.0272 255.0959);
  --accent-foreground: oklch(0.3525 0.1705 267.2208);
  --destructive: oklch(0.6635 0.2164 30.1561);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9002 0.0059 264.5305);
  --input: oklch(0.9700 0.0029 264.5420);
  --ring: oklch(0.6744 0.1785 42.7042);
  --chart-1: oklch(0.6971 0.0759 258.7859);
  --chart-2: oklch(0.8062 0.0979 45.8564);
  --chart-3: oklch(0.5569 0.0962 261.9479);
  --chart-4: oklch(0.4788 0.1081 265.8064);
  --chart-5: oklch(0.4001 0.1209 268.6035);
  --sidebar: oklch(0.9010 0.0055 274.9593);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.6744 0.1785 42.7042);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9051 0.0272 255.0959);
  --sidebar-accent-foreground: oklch(0.3525 0.1705 267.2208);
  --sidebar-border: oklch(0.9256 0.0068 277.1579);
  --sidebar-ring: oklch(0.6744 0.1785 42.7042);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2513 0.0395 268.7473);
  --foreground: oklch(0.9219 0 0);
  --card: oklch(0.3022 0.0387 273.5763);
  --card-foreground: oklch(0.9219 0 0);
  --popover: oklch(0.2818 0.0316 276.4328);
  --popover-foreground: oklch(0.9219 0 0);
  --primary: oklch(0.6744 0.1785 42.7042);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3020 0.0349 274.9400);
  --secondary-foreground: oklch(0.9219 0 0);
  --muted: oklch(0.3020 0.0349 274.9400);
  --muted-foreground: oklch(0.7155 0 0);
  --accent: oklch(0.3208 0.0752 273.3225);
  --accent-foreground: oklch(0.8679 0.0645 263.7321);
  --destructive: oklch(0.6635 0.2164 30.1561);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3762 0.0383 274.4877);
  --input: oklch(0.3762 0.0383 274.4877);
  --ring: oklch(0.6744 0.1785 42.7042);
  --chart-1: oklch(0.6971 0.0759 258.7859);
  --chart-2: oklch(0.7863 0.0942 43.7794);
  --chart-3: oklch(0.5569 0.0962 261.9479);
  --chart-4: oklch(0.4788 0.1081 265.8064);
  --chart-5: oklch(0.4001 0.1209 268.6035);
  --sidebar: oklch(0.3016 0.0370 273.1920);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.6744 0.1785 42.7042);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3208 0.0752 273.3225);
  --sidebar-accent-foreground: oklch(0.8679 0.0645 263.7321);
  --sidebar-border: oklch(0.3762 0.0383 274.4877);
  --sidebar-ring: oklch(0.6744 0.1785 42.7042);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #1a1a1a;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.05);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0px 1px 2px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0px 2px 4px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0px 4px 6px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.10), 0px 8px 10px -1px hsl(0 0% 10.1961% / 0.10);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 10.1961% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
