---
import Layout from "../layouts/Layout.astro";
import { MatchesView } from "../components/matches/MatchesView";
import { Toaster } from "@/components/ui/sonner";

export const prerender = false;
---

<Layout title="Dopasowania - BuddyFinder">
  <div class="container mx-auto py-8 px-4">
    <MatchesView client:load />
  </div>
  <Toaster client:load />
</Layout>
