---
import Layout from "../layouts/Layout.astro";
import { ProfileView } from "../components/profile/ProfileView";
---

<Layout title="Mój profil">
  <main class="min-h-screen">
    <ProfileView client:load />
  </main>
</Layout>